.container {
    padding: 10px;
  }

  ul li {
    list-style: none;

  }

.titleCase {font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: aqua;}

h3 {font-family: 'Roboto Slab', serif;
        font-weight: 400;}

p { font-family: 'Roboto', sans-serif;
    font-weight: 400;}
